body {
	color: #3A3B3B;
	font-family: Quicksand, sans-serif;
}

div {
	width: 40%;
	margin: 0 auto;
	text-align: center;
}

img {
	width: 300px;
}

h1 {
	font-size: 3em;
	margin-bottom: 50px;
}

h2 {
	font-size: 2em;
	margin: 30px;
}

p {
	font-size: 1.3em;
}